
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --clr-gold: #DCC48E;
    --clr-beige: #EAEFD3;
    --clr-purple: #27233A;
}

body {
    background-color: var(--clr-purple);
    color: var(--clr-beige);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--clr-beige);
    color: var(--clr-purple);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}